{
	"rope": {
		"width": 0.8,
		"color": [202, 202, 202, 230]
	},
	"counterweights": [],

	"usesYoyoUpgrades": true,
	"usesCounterweightUpgrades": true,

	"maxLength": 12,
	"extraLength": 0,

	"currentStringType": "",
	"stringColor": "?replace;a85636=7b7b7b;e0975c=b6b6b6;ffca8a=e6e6e6",

	"counterWeightType": "",
	"counterWeightIcon": "",
	"counterWeightName": ""
}